<div class="flex flex-col flex-auto min-w-0 relative">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 relative">

        <!-- Contenedor del Grafo (fondo) -->
        <div id="grafo" class="grafo-fondo"></div>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="cabecera">
            <div>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold"><mat-icon>bubble_chart</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="italic" (click)="irALista()"><mat-icon>list</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="italic" (click)="irAMapa()"><mat-icon>map</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <span class="spacer"></span>
            <div class="checkbox">
                <mat-checkbox (change)="conexiones($event)" id="conexiones">Desactivar conexiones</mat-checkbox>
            </div>
        </div>
    </div>
</div>
