<div class="dialog" *ngIf="nodo">
    <div class="header-dialog">
        <h1 mat-dialog-title style="font-size: xx-large"><strong>{{nodo.nombre}}</strong></h1>
        <span class="spacer"></span>
        <button mat-mini-fab (click)="cerrarDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Tipo de nodo</mat-label>
                        <mat-select [(ngModel)]="tipoNodo">
                            <mat-option value="Balanceador">Balanceador</mat-option>
                            <mat-option value="Controlador">Controlador</mat-option>
                            <mat-option value="Procesador">Procesador</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Puerto</mat-label>
                        <input matInput type="number" [(ngModel)]="puerto"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>URL</mat-label>
                        <input matInput type="text" [(ngModel)]="url"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <mat-select *ngIf="tipoNodo === 'Balanceador'" [(ngModel)]="nombre">
                            <mat-option value="main">Main</mat-option>
                            <mat-option value="subs">Subs</mat-option>
                        </mat-select>
                        <mat-select *ngIf="tipoNodo === 'Controlador'" [(ngModel)]="nombre">
                            <mat-option value="main">Main</mat-option>
                            <mat-option value="subs">Subs</mat-option>
                        </mat-select>
                        <input *ngIf="tipoNodo !== 'balanceador' && tipoNodo !== 'controlador'" matInput type="text" [(ngModel)]="nombre"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent style="display: flex;">
                    <div>
                        <mat-form-field floatLabel="always">
                            <mat-label>Geolocalización</mat-label>
                            <input matInput type="number" placeholder="Latitud" [(ngModel)]="latitud"/>
                        </mat-form-field>
                          
                        <mat-form-field floatLabel="always">
                            <input matInput type="number" placeholder="Longitud" [(ngModel)]="longitud"/>
                        </mat-form-field>
                    </div>                            
                </ng-container>
            </mat-grid-tile><mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Visiblidad</mat-label>
                        <mat-select [(ngModel)]="visible">
                            <mat-option [value]="true">Activada</mat-option>
                            <mat-option [value]="false">Desactivada</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
        </mat-grid-list>
        <div id="botonAN">     
            <button (click)="actualizarNodo()" class="anadir" >Actualizar</button>
        </div>
    </mat-dialog-content>
</div>
