<div class="dialog">
    <div class="header-dialog">
        <h1 mat-dialog-title style="font-size: xx-large"><strong>Añadir Nodo</strong></h1>
        <span class="spacer"></span>
        <button class="close" mat-mini-fab (click)="cerrarDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Tipo de nodo</mat-label>
                        <mat-select [(ngModel)]="tipoNodo">
                            <mat-option *ngFor="let option of options" [value]="option.value">
                              {{ option.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Puerto</mat-label>
                        <input matInput type="text" [(ngModel)]="puerto"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>URL</mat-label>
                        <input matInput type="text" [(ngModel)]="url"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <mat-select *ngIf="tipoNodo === 'Balanceador'" [(ngModel)]="nombre">
                            <mat-option value="Balanceador Main">main</mat-option>
                            <mat-option value="Balanceador Subs">subs</mat-option>
                        </mat-select>
                        <mat-select *ngIf="tipoNodo === 'Controlador'" [(ngModel)]="nombre">
                            <mat-option value="Controlador Main">main</mat-option>
                            <mat-option value="Controlador Subs">subs</mat-option>
                        </mat-select>
                        <input *ngIf="tipoNodo !== 'balanceador' && tipoNodo !== 'controlador'" matInput type="text" [(ngModel)]="nombre"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <mat-form-field>
                        <mat-label>Geolocalización</mat-label>
                        <input matInput type="text" [(ngModel)]="geolocalizacion"/>
                    </mat-form-field>
                </ng-container>
            </mat-grid-tile>
            <mat-grid-tile>
                <ng-container matGridContent>     
                    <button (click)="anadirNodo()" class="anadir" mat-button>Añadir</button>
                </ng-container>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-dialog-content>
</div>
